@page "/counter"
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<PageTitle>Counter</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <h3>Welcome, Admin!</h3>
        <p>This content is only accessible to users with the "Admin" role.</p>
    </Authorized>
    <NotAuthorized>
        <h3>You do not have access to this content.</h3>
        <p>You need to be an admin to access this page.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
